/* main background: #f7fbfe */
/* accent color: #0084e3 */
/* secondary accent color: #ebf5fd */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #111827;
}
body {
    display: flex;
}
nav {
    width: fit-content;
    max-width: 24em;
    padding: 3em;
}
nav a {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 700;
}
.nav-image {
    width: 100%;
}
header {
    margin-bottom: 2rem;
}
main {
    background-color: #f7fbfe;
}
h4 span {
    color: #0084e3;
}
.add-school {
    background-color: #ebf5fd;
}
button {
    background-color: #0084e3;
}