/* main background: #f7fbfe */
/* accent color: #0084e3 */
/* secondary accent color: #ebf5fd */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #646464d2;
}
body {
    display: flex;
    height: 100%;
}
nav {
    width: 35%;
    height: 100% ;
    max-width: 24em;
    padding: 3em;
}
nav a {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 15px;
}
.nav-image {
    display: flex;
    align-self: center;
    width: 75%;
    margin: 0 auto;
}
header {
    margin-bottom: 2rem;
}
ul {
    margin: 2em 1.2em;
}
li {
    display: flex;
    align-items: center;
    justify-items: start;
    list-style: none;
    margin: 1.5em 0;
    font-size: 14px;
}
li:last-child{
    align-items: start;
    margin-left: 0.7em;
}
li:last-child img{
    margin-right: 0.7em;
}
li h5 {
    margin: 0.7em 0;
}
li:first-child h5 {
    color: #b1b1b1;
}
li div {
    width: 52px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.19em;
    margin-right: 0.8em;
    border: 1px solid #0084e3;
    border-radius: 50%;
}
li span {
    color: #0084e3;
    font-weight: 600;
    margin: 0 auto;
}
main {
    background-color: hsl(206, 78%, 98%);
    width: 100%;
    font-size: 15px;
}
form {
    width: 85%;
    max-width: 450px;
    margin: 8em 10em;
}
input {
    width: 100%;
    border: 2px solid #f1f1f1;
    border-radius: 6px;
    padding: 0.7em;
    margin: 0.8em 0;
}
input[type=radio] {
    width: fit-content;
    margin-bottom: 1.6em;
}
select {
    width: 100%;
    border: 2px solid #f1f1f1;
    border-radius: 6px;
    padding: 0.7em;
    margin: 0.8em 0;
}
select:focus {
    outline: 1px solid #ccc;
}
select::-ms-expand {
    -webkit-appearance: none;
}
main h1 {
    color: black;
}
.add-to-list {
    text-align: right;
    font-size: 14px;
    margin-bottom: 1.2em;
}
section {
    margin: 2em 0;
    border-bottom: 2px solid #f1f1f1;
}
h4 span {
    color: #0084e3;
}
.add-school {
    background-color: #ebf5fd;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2em;
    font-size: 14px;
}
.add-school div {
    width: 100%;
}
.add-school h4 {
    color: #0084e3;
}
.add-school img {
    height: fit-content;
    margin-right: 8px;
}

button {
    background-color: #0084e3;
    border: none;
    width: 50%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    color: white;
    padding: 1em 3em;
    border-radius: 6px;
    font-weight: 600;
}

@media screen and (max-width: 640px) {
    body {
        display: flex;
        flex-direction: column;
    }
    nav {
        width: 100%;
        max-width: unset;
    }
    .nav-image {
        max-width: 20em;
    }
    ul {
        display: flex;
        align-items: start;
        border-top: 2px solid #dadadad2;
    }
    ul li {
        display: flex;
        position: relative;
        flex-direction: column;
        width: 100%;
        margin: 0.5em 2em;
    }
    ul li::before {
        content: '';
        position: absolute;
        top: -0.8em;
        width: 8px;
        height: 8px;
        background-color: #a1a1a1c9;
        border-radius: 50%;
    }
    li:last-child{
        align-items: center;
        text-align: center;
    }
    li:last-child img{
        margin-left: 0.7em;
    }
    form {
        margin: 2em auto;
    }
    .add-to-list {
        font-size: 12px;
    }
}
@media screen and (min-width: 640px) and (max-width: 920px) {
    body {
        display: flex;
        flex-direction: row
    }
    nav {
        width: 40%;
        padding: 2em;
    }
    ul {
        margin: 1em 0.2em;
    }
    form {
        margin: 8em auto;
    }
    .add-to-list {
        font-size: 12px;
    }
}